.starter-template {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.button-create {margin-bottom: 40px;}
.wellinline {display: inline-block; margin-right: 20px;}
.editdelete-buttons {margin-right: 15px;}
