
{% include 'header.html' %}

    <title>Delete Restaurant</title>
  </head>
  <body>

{% include 'nav.html' %}

    <div class="container">
      <div class="starter-template">
        <h1> Are you sure you want to delete {{i.name}}? </h1>
        <p class="lead">This will remove {{i.name}} from the database.</p>
      </div>
    </div>

    <div class='container'>
      <div class='well wellinline'>
        <form action="{{ url_for('deleteRestaurant',restaurant_id = restaurant_id)}}" method = 'post'>
          <input type='submit' value='Delete' role="button" class="btn btn-sm btn-default editdelete-buttons" data-toggle="tooltip" data-placement="bottom" title="Delete the restaurant">
          <a href="{{url_for('showRestaurants')}}" role="button" class="btn btn-sm btn-default editdelete-buttons">Cancel</a>
        </form>
      </div>
   </div>

{% include 'footer.html' %}
