
  {% include 'header.html' %}

  <title>Edit Restaurant Name</title>

  </head>

  <body>

  {% include 'nav.html' %}


  <div class="container">
    <div class="starter-template">
      <h1>Edit Restaurant</h1>
      <p class="lead">Edit the name of this restaurant.</p>
    </div>
  </div>

  <div class='container'>
    <div class='well wellinline'>
      <form action="{{url_for('editRestaurant', restaurant_id=restaurant_id )}}" method='POST'>
        <div class='divinput'>
          <input type='text' size='30' name='name' placeholder='{{i.name}}'>
        </div>
        <input type='submit' value='Save' role="button" class="btn btn-sm btn-default editdelete-buttons" data-toggle="tooltip" data-placement="bottom" title="Save the new name">
        <a href="{{url_for('showRestaurants')}}" role="button" class="btn btn-sm btn-default editdelete-buttons">Cancel</a>
      </form>
    </div>
  </div>

  {% include 'footer.html' %}
