<html>
<body>
<h1> Edit Menu Item </h1>

<form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id )}}" method = 'POST'>

<p>Menu Item Name:</p>
<p>
<input type='text' size='60' name='name' placeholder='{{i.name}}'>
</p>
<p>Menu Item Description:</p>
<p>
<input type='text' size='100' name='description' placeholder='{{i.description}}'
</p>
<p>Menu Item Price:</p>
<p>
<input type='text' size='8' name='price' placeholder='{{i.price}}'>
</p>
<p>Menu Item Course: {{i.course}}</p>
<input type='radio' name='course' value='Appetizer'>Appetizer
<br>
<input type='radio' name='course' value='Entree'>Entree
<br>
<input type='radio' name='course' value='Dessert'>Dessert
<br>
<input type='radio' name='course' value='Beverage'>Beverage
<p>
<input type='submit' value='Add'>

<a href="{{url_for('showMenu', restaurant_id=i.restaurant_id)}}">Cancel</a>
</p>
</form>

</body>
</html>
