{% include 'header.html' %}

<title>List of Restaurants</title>

</head>

<body>

  {% include 'nav.html' %}

  <div class="container">
    <div class="starter-template">
      <h1>List of Restaurants</h1>
      <p class="lead">This website displays menus for several restaurants.
        <br> You can edit every field displayed.</p>
    </div>
  </div>

  {% include 'flash.html'%}

  <div class='container'>
    <p class='button-create'>
      <a href='{{ url_for('newRestaurant') }}' role="button" class="btn btn-lg btn-primary">Create New Restaurant</a>
    </p>

    {% for i in restaurant_names %}

    <div class='well wellinline'>
      <div class='name'>
        <h2>
          <a href='{{ url_for('showMenu', restaurant_id = i.id) }}' data-toggle="tooltip" data-placement="top" title="Click to view menu">{{i.name}} </a>
        </h2>
      </div>
      <div>
        <p>
          <a href='{{ url_for('editRestaurant', restaurant_id = i.id) }}' role="button" class="btn btn-sm btn-default editdelete-buttons" data-toggle="tooltip" data-placement="bottom" title="Edit restaurant name">Edit</a>
          <a href='{{ url_for('deleteRestaurant', restaurant_id = i.id) }}' role="button" class="btn btn-sm btn-default editdelete-buttons" data-toggle="tooltip" data-placement="bottom" title="Delete this restaurant">Delete</a>
        </p>
      </div>
    </div><!-- end .well -->

    {% endfor %}

  </div>

  {% include 'footer.html' %}
